<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
    <script src='main.js'></script>
  </head>
  <body ng-app='pokemonApp'>
    <div class='container' ng-controller='PokemonCtrl'>
      <div class='row'>
        <div class='span12'>
          <p>
            <b>UPDATE:
              Included an calculation that determines which element to avoid using (for defense purposes)
            </b> 
          </p>
          <p> Step 1: Input pokemon name (partial searches - e.g. char for Charmander are supported)</p>
          <p> Step 2: Click SEARCH</p>
          <p> Step 3: The effectiveness of the respective elements are shown (the higher the number, the more effective the attack)</p>
          <form ng-submit='searchForPokemon()'>
            <input type='text' ng-model='data.inputPokemon' ng-focus='clear()' />
            <input class='btn btn-primary' type='submit' value='SEARCH' />
          </form>
          
          <div ng-class='{hidden: data.previousSearches.length === 0}'>
            <h4>Previous Searches</h4>
            <ul>
              <li ng-repeat='previousSearch in data.previousSearches' ng-click='usePrevSearch($index)'>
                <a href='#'>{{ previousSearch }}</a>
              </li>
            </ul>
          </div>

          <h4>Pokemon Listings</h4>
          <ul>
            <li ng-repeat='pokemon in pokemonModifiers'> 
              <p>Name: {{ pokemon.editedName }} {{ pokemon.elements }}</p>
              <p>{{ pokemon.elementsToBeAvoided }}</p>
              <ul>
                <li ng-repeat='element in pokemon.editedModifiers'
                ng-class='{"text-danger": element.modifier < 1, bold: element.modifier < 0.5 || element.modifier > 2}'>{{ element.element }}: {{ element.modifier }} 
                <span ng-show='element.toBeAvoided'>(Avoid)</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>