div.rss
  h3 RSS

  div(ng-show='!data.trawled')
    | {{ data.initialLoadMessage }}

  div(ng-show='data.trawled')
    input(type='text', ng-model='data.keywords', placeholder='Enter keywords separated by commas...', ng-change='checkWords()')
    br
    //- button.btn.btn-primary.check-button(ng-click='checkWords()') Search Keywords

    ul
      li(ng-repeat='result in data.results | show')
        b Link: 
        a(href='{{ result.link }}') {{result.link}}
        br
        | Website: {{ result.website }}
        br
        | Title: {{ result.title }}
        br
        br


