!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Dan's Coding Blog
    link(rel='stylesheet', href='/stylesheets/font-awesome-ie7.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')    
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(type='text/javascript', src='js/lib/lodash.js')

  body
    block body