!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Dan's Coding Blog
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block body